extends layout.pug 

block content
    main.main
        div.home-wrapper
            p.about This is a simple application to keep track of tasks.

            a(href="/tasks/create" class="create-task")  Create task