extends layout.pug 

block content 
    main.main 
        .tasks-wrapper
            .tasks-container 
                h2.tasks-title To do:
                each task in tasks
                    div.task-wrapper
                        .task-body
                            a.task-title(href=`/tasks/${task.id}`) #{task.title}
                            p.task-description #{task.description}
                        .task-controls    
                            a.delete-btn(href=`/tasks/${task.id}/delete`) Delete

            .tasks-container
                h2.tasks-title Doing:
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione repellendus, harum unde assumenda consequatur odit voluptas enim? Iste, doloribus maiores.

            .tasks-container
                h2.tasks-title Done:
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor cum minus fuga illum quae, iure dicta quos repudiandae! Tempora, vitae?